{% extends 'layout.html' %}

{% block content %}
  <style>
    html, body {
      background: #9B59B6
    }
    .description {
      font-size: 2em;
      font-weight: 100;
    }
    .container {
    width: 800px;
    max-width: 90%;
    }
    .title {
    font-size: 3em;
    font-weight: 800;
    margin: auto;
    }
  </style>

  <div class="row" style="text-align: center; color: white; margin-top: 100px;">
    <div style="max-width: 600px; margin: 0 auto">
      <p class="title">
        <a href="http://www.justyo.co/YOFOUNDERS" style="text-decoration: none; color: white">YOFOUNDERS</a>
      </p>
      <p class="description">
        Yo "YOFOUNDERS" and get contact information and other details about the nearest startups around you.
      </p>
    </div>
  </div>
{% endblock %}